@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Marvel:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 17px;
    font-family: 'Quicksand', 'Marvel', sans-serif;
  }
  
  @media (min-width: 480px) {
    html {
      font-size: 16px;
    }
  }
  
  @media (min-width: 640px) {
    html {
      font-size: 15px;
    }
  }
  
  @media (min-width: 1024px) {
    html {
      font-size: 19px;
    }
  }
}

.btn {
  @apply bg-marvel-red text-white px-10 py-2 rounded hover:bg-marvel-red/80 transition-colors duration-200;
}

.filter-btn {
  @apply bg-transparent text-lg px-4 py-2 font-medium transition-colors duration-200;
}

body {
  margin: 0;
  font-family: 'Quicksand', 'Marvel', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
